################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/APIGateway/bin/Debug/netcoreapp3.1
/APIGateway/obj
/TweetBook.IntegrationTesting/bin/Debug/netcoreapp3.1
/TweetBook.IntegrationTesting/obj
/.vs/TweetBookManagement
/OcelotAPIGateway/bin/Debug/netcoreapp3.1
/OcelotAPIGateway/obj
/ClientApp/.vs/ClientApp
/ClientApp/bin/Debug/netcoreapp3.1
/ClientApp/obj
/TweetBook.Utilities/bin/Debug/netcoreapp3.1
/TweetBook.Utilities/obj
